body {
    background-color: #525d8d;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-wrapper {
    width: 80%;
    max-width: 900px;
    height: 80%;
    background: rgba(102, 102, 102, 0.95);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.terminal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #2e2e2e;
}

.buttons {
    display: flex;
    gap: 8px;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff5f56;
}

.button.yellow {
    background: #ffbd2e;
}

.button.green {
    background: #27c93f;
}

.terminal {
    background-color: rgba(0, 0, 0, 0.677);
    color: #bfbfbf;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

.output {
    flex-grow: 1;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-bottom: 10px;
    font-size: 18px;
    color: #f4f4f4;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
    font-size: 18px;
    color: #7484bc;
}

input {
    background-color: transparent;
    color: #4f66b9;
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #b3b3b3;
}
::-webkit-scrollbar-track {
  background: #b5b5b5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #bdbdbd;
}
::-webkit-scrollbar-track:active {
  background: #bababa;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.error {
    color: red;
}
.warning {
    color: yellow;
}
.success {
    color: green;
}